.jumbotron{
    background-color: yellowgreen;
    color: black;
    margin-top: 0px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellowgreen;
    margin-bottom: 0px;
    margin-top: 10px;
}

